# Created by .ignore support plugin (hsz.mobi)
.idea
/ansible/inventories/local/*
!/ansible/inventories/local/**/*.sample.*
/ansible/inventaries/production
/ansible/inventaries/staging
/ansible/vendor
.vagrant
/project
.zip
.tar
.gz
.7z
*~
config.yml